extends layout

block header
    include header
block content
    // each content has each div
    div 
        h2 Education
        // details tag
        dl 
            dt Computer Programmer in Georgian College
                // dd tag indent 20px
                dd Cumulative GPA: 93.82 / 100; Dean’s List all semesters
            dt Division of Computer Engineering in Sungkyul University  
                dd Cumulative GPA: 91 / 100;
    div
        h2 Work Experience
        dl
            dt Application Developer and IT Support (Co-op)
            dt February 2019 – April 2019
                dd Designed, developed, modified and tested application using Python
                dd Performed troubleshooting hardware and software issues
                dd Supported creating documents
            dt Database Administrator (Assistant Manager)
            dt April 2012 – November 2017 
                dd Updated and Managed over 200 Million Worldwide Patent Data using Microsoft SQL Server, SSIS and Erwin
                dd Developed and optimized SQL objects such as stored procedures, functions, views
                dd Was a major participant in providing patent analysis, statistic and download
                dd Provided patent statistic data reports that reflect the needs of customers
                dd Performed ETL(Extract, Transform, Load) to update patent data from raw data
                dd Designed databases using the data dictionary, and managed the data dictionary
                dd Planned and executed backup and SQL Server Agent Job
                dd Monitored and resolved the performance issue
            dt IT System Technician (Staff) 
            dt June 2008 – June 2010
                dd Managed data using Oracle (TOAD)
                dd Updated and managed employees, customer Information
                dd Provided stock statistic data reports that reflect the needs of customers
                dd Responded to employees, customers inquiries about the stock program
                dd Deployed the program to real servers using InstallShield
                dd Resolved functional issues of electronic approval process modules
    div
        h2 Award
        dl
            dt Top of the Class
                dd Quest Language Studies
            dt The Excellent Employee
                dd WIPS co., Ltd.
    div
        h2 Certificates, Licences
        dl
            dt OPC 11g, MCDBA
            dt SCSA (Solaris 9)
            dt G Driver's licence


block footer
    include footer