extends layout

block header
    nav
        ul
            //[nav ul li] tag will be affected by main.css
            li
                a(href="/index") Home
            li
                a(href="/about") About Me
            li
                a(href="/projects") Projects
            li
                a(href="/services") Services
            li
                a(href="/contact") Contact Me