extends layout

block header
    include header
block content
    div
        h2 Sehee Park
        // description list tag
        dl
            dt 
                // dd tag indent 20px
                dd Over 7 years of IT work experience
                dd Eager to Solve the problem
                dd Active listening; understand the problems correctly and resolve definitively
block footer
    include footer