extends layout

block header
    include header
block content
    div
        h2 PHP
        // description list tag
        dl 
            dt Netflix Viewing Activity
                dd 
                    // each image has own link and by clicking the image, the link will open in new tab
                    // dd tag indent 20px
                    a(href="http://aws.computerstudi.es/~gcc200389459/comp1006/list.php" target="_blank")
                        img(src="../images/php.jpg" alt="Netflix Viewing Activity page image" width="640")
                dd 
                  a(href="http://aws.computerstudi.es/~gcc200389459/comp1006/list.php" target="_blank")|http://aws.computerstudi.es/~gcc200389459/comp1006/list.php
                dd Title, Date, Genre, Rating is required (Comment is optional)
                dd Only validate date accepted (i.e. February 31 is not allowed), The date annot be the furtuer
    div
        h2 JavaScript
        dl
            dt Slide Puzzle
                dd
                    a(href="https://comp1073assn3.azurewebsites.net/" target="_blank")
                        img(src="../images/js1.jpg" alt="Slide Puzzle" width="400")
                dd
                  a(href="https://comp1073assn3.azurewebsites.net/" target="_blank")|https://comp1073assn3.azurewebsites.net/
                dd Moving more than 1 puzzle is possible 
        dl
            dt See N Say Storymaker
                dd 
                    a(href="http://aws.computerstudi.es/~gcc200389459/comp1073/assignment1/" target="_blank")
                        img(src="../images/js2.jpg" alt="Slide Puzzle" width="400")
                dd
                  a(href="http://aws.computerstudi.es/~gcc200389459/comp1073/assignment1/" target="_blank")|http://aws.computerstudi.es/~gcc200389459/comp1073/assignment1/
                dd Web version of the Mattel® 'See 'N' Say Storymaker'
    div
        h2 Arduino
        dl
            dt Remote Lamp Switch
                dd 
                    a(href="https://www.youtube.com/watch?v=uZKbWwgyeEQ" target="_blank")
                        img(src="../images/arduino.jpg" alt="Slide Puzzle")
                dd
                  a(href="https://www.youtube.com/watch?v=uZKbWwgyeEQ" target="_blank")|https://www.youtube.com/watch?v=uZKbWwgyeEQ
                dd Attach the device to a lamp and turn on/off with remote control   
                dd Timer and the light sensor function embedded
                    

block footer
    include footer